@import "../Helpers/Variables";
#intro{
  height: 150px;
  &:hover .bg_overlay{
    transform: scale(1.1);
  }
  .bg_overlay{
    background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url($intro) no-repeat center center/cover;
    transition: all 600ms ease-out;
  }
}