$primary:rgb(41,171,225);
$primary_op2:rgba(41,171,225,0.2);

$secondary:rgb(89, 93, 105);

$info:#f27059;
$info_op2:rgba(242,112,89,0.5);

$success:#669900;
$success_op2:rgba(87,204,153,0.5);

$warning:#f2a65a;
$warning_op2:rgba(242,166,90,0.2);

$light:#fff;

$dark:#333;
$dark_op2:rgba(89, 93, 105, 0.04);

$intro:'../../assets/news-bg.jpg';