@import "./Helpers/Variables";
@import "./Helpers/Utilities";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/////////////////////////////
#app{
  margin: 0;
  padding: 0;
  background: #fff;
  width: 370px;
  height: 596px;
  display: flex;
  flex-direction: column;
}
.fade-enter-active,.fade-leave-active{
  transition: all 350ms ease-in-out;
}
.fade-enter-from,.fade-leave-to{
  opacity: 0;
}
.fade-enter-to,.fade-leave-from{
  opacity: 1;
}






//.alert_modal,.price_alert_modal{
//  opacity: 0;
//  visibility: hidden;
//  background: $light;
//  width: 80%;
//  height: 96px;
//  z-index: 999999999;
//  border-radius: 7px;
//  right: 43px;
//  transition: all 200ms linear;
//  top: 40%;
//}
//.overlay{
//  opacity: 0;
//  visibility: hidden;
//  z-index: 9999999;
//  background: rgba(0,0,0,0.3);
//  transition: all 200ms linear 60ms;
//}
//
///////////////////////////
//.api_message{
//  z-index: 99999999999999999999;
//}