@import "./popup";
.crypto_card{
  background: #eee;
  transition: all 300ms ease-out;
  &:hover{
    background: #ffffff;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
  }
  .coin_name span{
    font-size: 0.5rem;
  }
  .price,.change_percent{
    font-size: 0.7rem;
  }
  .add_to_favorite{
    padding: 9px 13px;
    border-radius: 50%;
    transition: all 200ms ease-out;
    width: 42px;
    height: 42px;
    svg{
      bottom: 28%;
    }
    &:hover{
      background: #eee;
    }
  }
  .bi-heart-fill path{
    z-index: 999999;
  }
}
.divider{
  width: 100%;
  height: 1px;
  background: #cccccc;
}
.trending_card{
  background: white;
  cursor: pointer;
  transition: all 300ms linear;
  &:hover{
    background: #ffffff;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
  }
  .symbol{
    font-size: 0.6rem;
  }
  .price{
    font-size: 0.7rem;
    padding-top:3px;
  }
  .follow_btn{
    display: inline-block;
    padding: 7px 19px;
    border-radius: 20px;
    font-size: 0.9rem;

  }
}

.detail_card{
  background: white;
  transition: all 150ms linear;
  &:hover{
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
  }
  a{
    word-break: break-all;
  }
}

a:hover{
  color: currentColor!important;
}

.bg-dark-light{
  background: #333!important;
}

.remove_btn{
  right: -15px;
  top: -12px;
}