@import "./popup";
.crypto_card{
  background: #eee;
  transition: all 300ms ease-out;
  &:hover{
    background: #ffffff;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
  }
  .coin_name span{
    font-size: 0.5rem;
  }
  .price,.change_percent{
    font-size: 0.7rem;
  }
  .add_to_favorite{
    padding: 9px 13px;
    border-radius: 50%;
    transition: all 200ms ease-out;
    &:hover{
      background: #eee;
    }
  }
}